@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-lavishly: var(--font-lavishly);
  --font-great-vibes: var(--font-great-vibes);
  --font-ms-madi: var(--font-ms-madi);
  --font-montserrat: var(--font-montserrat);
  --font-orbitron: var(--font-orbitron);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
